@CHARSET "UTF-8";

#lightbox {
	width: 410px;
	position: absolute;
	z-index: 99;
	display: none;
}

#lightboxHeader {
	font-size: 12px;
	color: #5D6DA5;
	padding: 8px 0px 8px 0px;
}

.lightboxText {
   font-size: 12px;
   color: #5D6DA5;
}

#pageBackground {
	position: absolute;
	z-index: 98;
	background-color: #FF00FF;
	left: 0px;
	top: 0px;
	display: none;
}

.iframeLightbox {
        left:-10000px;
        position:relative;
        display: block;
}
