/* CSS Document */

/* begin reset */

body, input, form, textarea, select, h1, h2, h3, h4, h5, h6, p, a {
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight:normal;
   line-height:normal;
   margin:0px;
   padding:0px;
}

a, a:hover {
   text-decoration:none;
   margin:0px;
   padding:0px;
   cursor:pointer;
}

a img, :hover img, :link img {
   border:0px;
}

ul, li, ol {
   list-style:none;
   margin:0px;
   padding:0px;
}
/* end reset */

