/* CSS Document */
/* tag */

h1 {
   font-size:18px;
   line-height:normal;
   font-weight:bold;
}

h2 {
   font-size:16px;
   line-height:normal;
   font-weight:bold;
}

h3 {
   font-size:14px;
   line-height:normal;
   font-weight:bold;
}

h4 {
   font-size:12px;
   line-height:normal;
   font-weight: bold;
}

h5 {
   font-size:10px;
   line-height:normal;
   font-weight:normal;
}

ul {
   list-style-type: disc;
   list-style-position: outside;
}

/* id */
#wrapper {
   width:785px;
   margin:0px auto;
   background-color:#FFFFFF;
}

#header {
   width:780px;
   margin:0px 0px 8px 0px;
   display:block;
   float:left;
}

#stepsBox {
   width:266px;
   height:61px;
   display:block;
   float:left;
}

#navBar {

}

#sideContent {
   width:245px;
   margin:0px 5px 0px 0px;
   display:block;
   float:left;
   background-color:#FFFFFF;
}

#mainContent {
   width:530px;
   display:block;
   float:left;
   background-color:#FFFFFF;
}

#footer {
   width:780px;
   display:block;
   float:left;
   background-color:#FF0000;/* tst */
}

/* class */
.topLogo {
   width:250px;
   height:61px;
   background-image:url(../images/top_logo.gif);
   background-repeat:no-repeat;
   display:block;
   float:left;
}

.firstStep {
   background-image:url(../images/YourDetails.gif);
   background-repeat:no-repeat;
   background-position:right center;
   background-color:#FFFFFF;/* tst */
}

.secondStep {

}

.systemIcon {
   width:264px;
   height:61px;
   background-image:url(../images/80_parkhome.gif);/* this goes in the System style */
   background-position:right center;
   background-repeat:no-repeat;
   display:block;
   float:left;
   background-color:#FFFFFF;/* tst */
}

.sideContentBox {
   background-image:url(../images/side_cntnt_px.gif);
   margin:0px 0px 8px 0px;
}

.footerBoxLeft {
   background-image:url(../images/foot_left.gif);
   background-repeat:no-repeat;
   display:block;
   float:left;
   height:40px;
   width:8px;
}

.footerBoxCenter {
   background-image:url(../images/foot_center.gif);
   background-repeat:repeat-x;
   display:block;
   float:left;
   height:40px;
   width:761px;
}

.footerLinks {
   float:left;
   text-align:left;
}

.footerBoxRight {
   background-image:url(../images/foot_right.gif);
   background-repeat:no-repeat;
   display:block;
   float:left;
   height:40px;
   width:8px;
}

/* layout style */
.sideContentBox h3 {
   font-family:Arial, Helvetica, sans-serif;
   color:#28588F;
   padding:0px 0px 0px 16px;
   margin: 1px 0px 1px 0px;
}

.sideContentBox h5 {
   font-family:Arial, Helvetica, sans-serif;
   color:#333333;
   padding:0px 0px 0px 16px;
   margin: 1px 0px 1px 0px;
}

.sideContentBox p {
   font-family:Arial, Helvetica, sans-serif;
   font-size: 12px;
   color:#000000;
   background-image:url(../images/bgt_01.gif);
   background-position:center left;
   background-repeat:no-repeat;
   padding:6px 12px 0px 34px;
   margin:0px 0px 0px 12px;
   display:block;
}

.sideContentBox p .tick {

}

.sideContentBox h3 span {
   text-align:right;
   padding:0px 12px 0px 0px;
   display:block;
}

.footerLinks ul {
   float:left;
   font-family:Arial,Helvetica,sans-serif;
   font-size:12px;
   font-size-adjust:none;
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   line-height:14px;
   list-style-type:none;
   margin-top:3px;
   text-align:left;
}

.footerLinks ul li {
   display:inline;
}

/* *************************************** */
/* -------- MAIN CONTENT ELEMENTS -------- */
/* *************************************** */
.mainContentDetails {                                    /* Main div for Details information content (first section) */

}

.mainContentDetailsInside {                              /* This div contain the elements of the details information section */
   border-left: 1px solid #D0D0D0;
   border-right: 1px solid #D0D0D0;
   border-top: none;
   border-bottom: none;
   padding: 6px 6px 6px 6px;
}

.mainContentInsurer {                                    /* Main div for Proposer information content (second section) */
   padding: 10px 0px 0px 0px;
}

.mainContentInsurerInside {                              /* This div contain the elements of the proposer information section */
   border-left: 1px solid #D0D0D0;
   border-right: 1px solid #D0D0D0;
   border-top: none;
   border-bottom: none;
   padding: 6px 6px 6px 6px;
}

.mainContentHeaderBox {                                  /* Main header div, use to create the header or section */
   height: 29px;
   background-image:url(../images/tm.gif);
   background-position:center;
   background-repeat:repeat-x;
}

.mainContentHeaderBox h4 {                               /*  */
   color: #FFFFFF;
   text-align: left;
   padding: 0px 0px 0px 10px;
   margin: 0px 0px 0px 0px;
}

.mainContentFooterBox {                                  /* Main footer div, use to create the footer or section */
   height: 10px;
   background-image:url(../images/bm.gif);
   background-position:center;
   background-repeat:repeat-x;
}

/* *********************************** */
/* CSS FOR DIFFERENT TYPES OF ELEMENTS */
/* *********************************** */
.mainContentElement {                                    /* Main div for elements */
   padding: 1px 0px 1px 0px;
   margin: 0px 0px 0px 0px;
}

#mainContentElementErrorShow {								   /* Main div with error for elements */
   background-color: #EDF7FF;
   border: 1px dashed #FE0507;	
}

#mainContentElementErrorShow {							      /* Main div with error for elements */
	
}

#mainContentElementError th {							         /* Row to print error for elements */
   display: none;
}

.mainContentElement th h4 {						            /* Row to print error for elements */
   font-weight: normal;
   color: #FF0000;
}

.mainContentElement table {                              /* Main table for elements */
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
}

.mainContentElement td[name=helpIconCell] {              /* first column, help icon column */
   width: 60px;
   text-align: right;
   padding: 0px 5px 0px 0px;
}

.mainContentElement td[name=contentTextCell] {           /* Second column, content text column */
   width: 150px;
}

.mainContentElement td[name=contentInformationCell] {    /* Third column, input element column */
   margin: 0px 0px 0px 10px;
}

.mainContentElement img {                                /* Image tooltip */
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
}

.mainContentElement h4 {                                 /* Content text */
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   color: #366DA5;
}

.mainContentElement input {                              /* Generic element input */
   vertical-align: middle;
   display: inline;
   width: 150px;
   padding: 2px 2px 2px 2px;
}

.mainContentElement select {                             /* Generic element select list */
   vertical-align: middle;
   display: inline;
   width: 155px;
   padding: 2px 2px 2px 2px;
}

