* {margin:0; padding:0;z-index:99;}
body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#FFF}
#text {margin:50px auto; width:300px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:help;z-index: 120;}

#tt {
position:absolute;
display:block;
cursor:help;
z-index: 100;
/*background:url(images/tt_left.gif) top left no-repeat;*/
}
#tttop {
display:block;
height:5px;
margin-left:5px;
overflow:hidden;
z-index: 100;
}
#ttcont {
display:block;
padding:2px 12px 3px 7px;
margin-left:5px;
background:#366DA5;
color:#ffffff;
border: 1px solid #366DA5;
z-index: 100;
}

#ttbot {
display:block;
height:5px;
margin-left:5px;
overflow:hidden;
z-index: 100;
}
