/* CSS Document */

#qzheader{
width:760px;
height:106px;
background-image:url(../images/header.gif);
background-repeat:no-repeat;
text-decoration: none;
}
#qzmenu a {
	font-family:  Arial;
	font-size: 11px;
	color: #336799;
	text-decoration: underline;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:0;
	display:block;
}
#qzmenu a:hover {
	font-family:  Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #A7292A;
	font-style: normal;
	font-variant: normal;
}
.qzleftmenu a {
	font-family:  Arial;
	font-size: 11px;
	color: #336799;
	text-decoration: underline;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:25px;
	padding-right:0;
	display:block;
	background-image:url(../images/mi1.gif);
	background-repeat:no-repeat;
}
.qzleftmenu a:hover {
	font-family:  Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #A7292A;
	font-style: normal;
	font-variant: normal;
	background-image:url(../images/mi2.gif);
	background-repeat:no-repeat;
}
.t {
	font-family:  Arial;
	font-size: 12px;
	color:#000000;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	padding:4px;
}

.t a {
	font-family:  Arial;
	font-size: 12px;
	color:#990000;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-decoration:underline;
}

.t a:hover {
	font-family:  Arial;
	font-size: 12px;
	color:#0000CC;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-decoration:underline;
}

.bt {
	font-family:  Arial;
	font-size: 11px;
	color: #336799;
	text-decoration: underline;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	padding:4px;
}

.bt a {
	font-family:  Arial;
	font-size: 11px;
	color:#0033CC;
	text-decoration: underline;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
}

.bt a:hover {
	font-family:  Arial;
	font-size: 11px;
	color:#990000;
	text-decoration: underline;
	font-weight: bold;
	font-style:normal;
	font-variant: normal;
	text-decoration:underline;
}

.btr {
	font-family:  Arial;
	font-size:12px;
	color: #000000;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
}
.btw {
	font-family:  Arial;
	font-size:12px;
	color:#FFFFFF;
	text-decoration: underline;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	border-top:1px #FFFFFF solid;
	border-left:1px #FFFFFF solid;
	border-right:1px #999999 solid;
	border-bottom:1px #999999 solid;
	padding:3px;
}

img.wraper {
padding-top:8px;
padding-left:6px;
padding-right:6px;
padding-bottom:8px;
}
.border {
border:1px #999999 solid;
padding:4px;
}
.mainTable {
	border-top:1px #FFFFFF solid;
	border-left:1px #FFFFFF solid;
	border-right:1px #999999 solid;
	border-bottom:1px #999999 solid;
	font-family:  Arial;
	font-size: 12px;
	color:#000000;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;

}
.padding {
padding:4px;
}

.submit {
	font-family:  Arial;
	font-size: 12px;
	color: #336799;
	text-decoration: underline;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	padding-top:2px;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:2px;
}