                  <tr>
                      <td background="images/ml.gif"></td>
                      <td height="1" background="images/dots.gif"></td>
                      <td background="images/mr.gif"></td>
                  </tr>
