<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<script language="JavaScript">
   function  preload_img()
   {
      var img_list = preload_img.arguments;

         if(document.preloadlist == null)
            document.preloadlist = new Array();

      var top = document.preloadlist.length;

      for(var i=0; i<img_list.length; i++)
      {
         document.preloadlist[top+i]     = new Image;
         document.preloadlist[top+i].src = img_list[i];
      }
   }
   function closeIt()
   {
      event.returnValue =  "Are you sure you want to leave the quotezone engine now?";
   }
</script>
<noscript>
   <meta http-equiv="refresh" content="0;url=javascript_help.htm">
   <img width=0 height=0 src="steps/TrackNoJavascript.php">
</noscript>

<script>
   var img = new Image();
   img.src = "steps/TrackJavascript.php";
</script>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   [% site.meta %]
   <title>Quotezone Taxi Insurance System</title>
   <link href="css/style.css" rel="stylesheet" type="text/css" />
   <link href="css/global_style.css" rel="stylesheet" type="text/css" />
   <link href="css/lightbox.css?6" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" href="css/qz_motoring.css" type="text/css" />
<!--   <script language="JavaScript" type="text/JavaScript" src="js/help.js"></script>-->
   <script language="JavaScript" type="text/JavaScript" src="js/global.js?2"></script>

   <script language="JavaScript" type="text/JavaScript" src="js/commonFunction.js"></script>
   <script language="JavaScript" type="text/JavaScript" src="js/jquery.js"></script>
   <script language="JavaScript" type="text/JavaScript" src="js/jquery.tooltip_ver_1.1.js"></script>
   <script language="JavaScript" type="text/JavaScript" src="js/taxi.jquery.statictip.js"></script>
   <script language="JavaScript" type="text/JavaScript" src="js/jquery.main.js?5"></script>
   <script language="JavaScript" type="text/JavaScript" src="js/jquery.common.js"></script>

   [% OVERTURE_ADS %]

   <script language="JavaScript" type="text/JavaScript" src="https://tracker.quotezone.co.uk/tracker/js/tracker.js?5"></script>
   <script language="javascript">var acxSiteID=245; Track('[% tracker_page %]');</script>

   <IFRAME name="checkingqzcookies" SRC="steps/CheckCookie.php" height="0" width="0" SCROLLING="NO" FRAMEBORDER="0" MARGINWIDTH="0" MARGINHEIGHT="0"></IFRAME>
</head>
<body onLoad="preload_img([% IMAGES %]);ShowSiteContent();[% google_tracker %];HideLoadingImage();"[% SETONBEFOREUNLOADTOLASTPAGE %]>

<!-- Google Analytics -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1359088-1']);
  _gaq.push(['_setDomainName', 'quotezone.co.uk']);
  _gaq.push(['_trackPageview', '[% GOOGLE_STEP %]']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- End Of Google Analytics -->

   [% showpopupdiv %]

    <div id="siteLoading" style="display:block;" class="loading" align="center">
      <!-- header -->
      [% site.header %]
      <!-- end header -->
 
      <div id="loading" style="display:block; height:550px;">
            <style type="text/css">
            <!--
            .style1 {
               font-family: Arial, Helvetica, sans-serif;
               font-weight: bold;
               color: #000000;
            }
            -->
            </style>
            <table width="780" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
               <td width="221" height="108">&nbsp;</td>
               <td width="305">&nbsp;</td>
               <td width="254">&nbsp;</td>
            </tr>

            <tr>
               <td height="125">&nbsp;</td>
               <td valign="top">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <!--DWLayoutTable-->
                     <tr>
                        <td width="305" height="61" align="center" valign="top"><img src="images/logo.png" width="235" height="55" /></td>
                     </tr>
                     <tr>
                        <td height="23" align="center" valign="top">
                           <p style="border-top:1px solid #666666;">&nbsp;</p>
                        </td>
                     </tr>
                     <tr>
                        <td height="19" align="center" valign="top"><span class="style1"><strong> Please Wait </strong>... Loading &nbsp;</span><span class="style2" id="img_span"><img src="images/ajax-loader.gif" width="16" height="16" align="absmiddle" /></span></td>
                     </tr>
                  </table>
               </td>
               <td>&nbsp;</td>
            </tr>
         </table>
         </div>

         <!-- footer -->
         [% site.footer %]
         <!-- end footer -->
   </div>

   <div id="siteContent" align="center" style="display:none">
      <!-- header -->
         [% site.header_disabled %]
      <!-- end header -->

      <!-- work area -->
      [% site.work_area %]
      <!-- end work area -->

      <!-- footer -->
      [% site.footer %]
      <!-- end footer -->
   </div>

<div style="position: absolute; left:1000px; top:160px; visibility: visible;">[% MENU.disabled %]</div>

[% SEARCH_VISION_TAXI %]
[% GOOGLE_ADS %]
[% SITE.TOOLTIP %]
[% SITE.STATIC_TOOLTIP %]
[% PIWIK_TRACKER %]

</body>
</html>
