#lightbox {
   width: 600px;
  /* position: absolute;
  left: 0px;
   right: 0px;
   top: 30%;
   bottom: 0px;
   margin: auto;*/
   /*background-color: #FF0000;*/
   z-index: 99;
   display: none;
}

#pageBackground {
   position: absolute;
   z-index: 98;
   background-color: #FF00FF;
   left: 0px;
   right:0px;
   top: 0px;
   display: none;
}

.iframeLightbox {
   left:-50000px;
   position:relative;
   display: block;
}

.lightboxMainDiv
{
   border: 4px solid #ED1C24;
   width: 600px;
   -webkit-box-shadow: 0 0px 15px #999999;
   -moz-box-shadow: 0 0px 15px #999999;
   box-shadow: 0 0px 15px #999999;
}

.lightboxMainBox
{
   padding: 0px 24px 50px 24px;
   margin: 0;
}

.lightboxClose p
{
   text-align: right;
   font-size: 11px;
   text-decoration: underline;
   color: #333333;
   cursor: pointer;
   margin: 3px 0px 0px 0px;
}

.lightboxClose img
{
   cursor: pointer;
   margin-top: -23px;
   margin-right: -43px;
}

.lightboxTitle p
{
   margin-top:15px;
   text-align: center;
   font-size: 22px;
   color: #333333;
   border-bottom: 1px solid #c4c4c4;
   padding-bottom: 10px;
   padding-top: 5px;
   font-weight:normal;
}

.lightboxText
{
   text-align: center;
   font-size: 14px;
   color: #333333;
   margin-top: 15px;   
}

.lightboxContent
{
   text-align: center;
   padding-left:20px;   
   padding-right:20px;
   padding-bottom:0px;
}

.leftLightbox
{
   /*border:1px solid red;*/
   float:left;
   width:200px;
   text-align:left;
}

.centerLightbox
{
   /*border:1px solid blue;*/
   float:left;
   width:105px;
   margin-top:25px;
   font-size:10px;
}

.rightLightbox
{
   /*border:1px solid green;*/
   float:left;
   width:200px;
   text-align:left;
}

#daytime_telephone_lightbox
{
   margin-top:3px;
   width: 180px;
   font-size: 14px;
   padding-top:3px;
   padding-bottom:3px;
}

#mobile_telephone_lightbox
{
   margin-top:3px;
   width: 180px;
   font-size: 14px;
   padding-top:3px;
   padding-bottom:3px;
}

#email_address_lightbox
{
   margin-top:3px;
   width: 180px;
   font-size: 14px;
   padding-top:3px;
   padding-bottom:3px;
}

.ackButton 
{
   padding               : 7px 10px 7px 10px;
   margin                : 0px;
   display               : inline-block;
   /*float                 : right;*/
   width                 : 400px;
   cursor                : pointer;
   text-align            : center;
   text-decoration       : none;
   font                  : 26px/26px Arial, Helvetica, sans-serif;
   text-shadow           : 0px -1px -1px #555555;
   -webkit-border-radius : 6px; 
   -moz-border-radius    : 6px;
   border-radius         : 6px;
   -webkit-box-shadow    : 0 1px 1px #999999;
   -moz-box-shadow       : 0 1px 1px #999999;
   box-shadow            : 0 1px 1px #999999;
   color                 : #FFFFFF;
   border                : solid 1px #63c026;
   background            : #58b01e;
   background            : -webkit-gradient(linear, left top, left bottom, from(#74cd3a), to(#409707));
   background            : -moz-linear-gradient(top,  #74cd3a,  #409707);
   filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#74cd3a', endColorstr='#409707');
   font-weight           : bold;
}

.ackButton:hover 
{
   text-decoration       : none;
   background            : #6dc633;
   background            : -webkit-gradient(linear, left top, left bottom, from(#9aef63), to(#4baa0c));
   background            : -moz-linear-gradient(top,  #9aef63,  #4baa0c);
   filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9aef63', endColorstr='#4baa0c');
}

.ackButton span 
{
   /*background-image      : url(../images/r-arrow.png);
   background-repeat     : no-repeat;
   background-position   : center right;
   padding-right         : 25px;*/
}

.floatRight
{
   float : right;
}

.privacyPolicyDiv
{
   margin-top:10px;      
}

.privacyPolicyDiv a 
{
   font-size             : 11px;
   color                 : #5e5e5e;   
}

.privacyPolicyDiv a:hover 
{
   font-size             : 11px;
   color                 : #5e5e5e;   
} 