/*************************************************************/
/******* PRODUCT BOXES FOR MOTORING/UTILITIES SECTIONS *******/
/*************************************************************/

.proBoxFirstRow_motor { display:block; float:left; padding:5px 0 0; width:auto; }
.proBoxBgPadd_motor { display:block; float:left; height:105px; padding:0; width:268px; }
.proBoxBgPaddLeft_motor { background-image:url(../images/productBoxLeftBG_short.gif); background-repeat:no-repeat; display:block; float:left; height:100px; width:10px; }
.proBoxBgPaddCentre_motor { background-image:url(../images/productBoxCentreBG_short.gif); display:block; float:left; height:100px; width:248px; }

.proBoxBgPaddCentre_motor a{ color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; font-size-adjust:none; font-weight:bold; }
.proBoxBgPaddCentre_motor a:hover { text-decoration: underline; color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; font-size-adjust:none; font-weight:bold; }
/* header text */
.proBoxBgPaddCentre_motor .headerText { float:left; width:auto; text-decoration: none;padding-bottom:5px;}
.proBoxBgPaddCentre_motor .headerText h4 {text-decoration: none; vertical-align: top; margin-top: 10px; text-align: left; }
.proBoxBgPaddCentre_motor .headerText h4:hover { text-decoration: underline; }
.proBoxBgPaddCentre_motor .headerText h4:visited { vertical-align: top; margin-top: 10px; text-align: left; }
/* header img */
.proBoxBgPaddCentre_motor .headerImg { float:right; height:40px; width:auto; margin-top: 5px; z-index: 3; }
.proBoxBgPaddCentre_motor .headerImg a { z-index: 4; font-size: 8pt; }
/* main text */
.proBoxBgPaddCentre_motor .mainText { float:left; width:240px; text-align:left; }
.proBoxBgPaddCentre_motor .mainText a { font-family:Helvetica,Arial,sans-serif; font-weight: normal; font-size:12px; line-height:1.3em; color: #333333; text-decoration: none; }
.proBoxBgPaddCentre_motor .mainText a:hover { font-family:Helvetica,Arial,sans-serif; font-weight: normal; font-size:12px; line-height:1.3em; color: #333333; text-decoration: none; }
.proBoxBgPaddCentre_motor .mainText a:visited{ font-family:Helvetica,Arial,sans-serif; font-weight: normal; font-size:12px; line-height:1.3em; color: #333333; text-decoration: none; }
/* quotes button */
.proBoxBgPaddCentre_motor .getQuotes { float:right; width:auto; margin-top: 1px; z-index: 1; }
.proBoxBgPaddCentre_motor .getQuotes a { font-size: 8pt; }

.proBoxBgPaddRight_motor { background-image:url(../images/productBoxRightBG_short.gif); background-repeat:no-repeat; display:block; float:left; height:100px; width:10px; }

/* added for car-insurance.htm */
.proBoxBgPadd_motor_car { display:block; float:left; height:105px; padding:0; width:255px; }
.proBoxBgPaddCentre_motor_car { background-image:url(../images/productBoxCentreBG_short.gif); display:block; float:left; height:100px; width:230px; }
.proBoxBgPaddCentre_motor_car a{ color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; font-size-adjust:none; font-weight:bold; }
.proBoxBgPaddCentre_motor_car a:hover { text-decoration: underline; color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; font-size-adjust:none; font-weight:bold; }
.proBoxBgPaddCentre_motor_car .headerText { float:left; width:auto; }
.proBoxBgPaddCentre_motor_car .headerText h4 { vertical-align: top; margin: 10px 0 5px 0; text-align: left; }
.proBoxBgPaddCentre_motor_car .headerText h4:hover { text-decoration: underline; }
.proBoxBgPaddCentre_motor_car .headerText h4:visited { vertical-align: top; margin: 10px 0 5px 0; text-align: left; }
.proBoxBgPaddCentre_motor_car .mainText { float:left; width:230px; text-align:left; padding: 0 0 0 0; }
.proBoxBgPaddCentre_motor_car .mainText a { font-family:Helvetica,Arial,sans-serif; font-weight: normal; font-size:12px; line-height:1.3em; color: #333333; text-decoration: none; }
.proBoxBgPaddCentre_motor_car .mainText a:hover { font-family:Helvetica,Arial,sans-serif; font-weight: normal; font-size:12px; line-height:1.3em; color: #333333; text-decoration: none; }
.proBoxBgPaddCentre_motor_car .mainText a:visited{ font-family:Helvetica,Arial,sans-serif; font-weight: normal; font-size:12px; line-height:1.3em; color: #333333; text-decoration: none; }




/*************************************************************/
/******* PRODUCT BOXES FOR TRAVEL SECTION ********************/
/*************************************************************/
 
.proBoxFirstRow_travel { display:block; float:left; padding:5px 0 0; width:auto; }
.proBoxBgPadd_travel { display:block; float:left; height:105px; padding:0; width:268px; }
.proBoxBgPaddLeft_travel { background-image:url(../images/productBoxLeftBG_short.gif); background-repeat:no-repeat; display:block; float:left; height:100px; width:10px; }
.proBoxBgPaddCentre_travel { background-image:url(../images/productBoxCentreBG_short.gif); display:block; float:left; height:100px; width:248px; } 
.proBoxBgPaddCentre_travel a { color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; font-size-adjust:none; font-weight:bold; } 
.proBoxBgPaddCentre_travel a:hover { color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; font-size-adjust:none; font-weight:bold; text-decoration:underline; }
.proBoxBgPaddCentre_travel .headerText { float:left; width:auto; }
.proBoxBgPaddCentre_travel .headerText h4 { margin-top:10px; text-align:left; vertical-align:top; }
.proBoxBgPaddCentre_travel .headerText h4:hover { text-decoration:underline; }
.proBoxBgPaddCentre_travel .headerImg { float:right; height:40px; margin-top:5px; width:auto; z-index:3; }
.proBoxBgPaddCentre_travel .headerImg a { z-index:4; } 
.proBoxBgPaddCentre_travel .mainText { float:left; text-align:left; width:240px; }
.proBoxBgPaddCentre_travel .mainText a { color:#333333; font-family:Helvetica,Arial,sans-serif; font-size:12px; font-weight:normal; line-height:1.3em; text-decoration:none; }
.proBoxBgPaddCentre_travel .mainText a:hover { color:#333333; font-family:Helvetica,Arial,sans-serif; font-size:12px; font-weight:normal; line-height:1.3em; text-decoration:none; }
.proBoxBgPaddCentre_travel .mainText a:visited { color:#333333; font-family:Helvetica,Arial,sans-serif; font-size:12px; font-weight:normal; line-height:1.3em; text-decoration:none; }
.proBoxBgPaddCentre_travel .getQuotes { float:right; margin-top:1px; width:auto; z-index:1; }
.proBoxBgPaddRight_travel { background-image:url(../images/productBoxRightBG_short.gif); background-repeat:no-repeat; display:block; float:left; height:100px; width:10px; }

/*************************************************************/
/******* PRODUCT BOXES FOR BUSINESS INSURANCE ****************/
/*************************************************************/
.proBoxFirstRow_custom { display:block; float:left; padding:5px 0 0 1px; width:auto; }
.proBoxBgPaddLeft_custom { background-image:url(../images/productBoxLeftBG.gif); background-repeat:no-repeat; display:block; float:left; height:145px; width:10px; }
.proBoxBgPaddCentre_custom { background:url(../images/productBoxCentreBG.gif) repeat-x top; display:block; float:left; height:145px; width:95%; padding: 10px 0 0 0; }
.proBoxBgPaddCentre_custom a { color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; font-size-adjust:none; font-weight:bold; } 
.proBoxBgPaddCentre_custom a:hover { color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; font-size-adjust:none; font-weight:bold; text-decoration:underline; }
.proBoxBgPaddCentre_custom .headerText { float:left; width:auto; }
.proBoxBgPaddCentre_custom .headerText h4 { margin-top:10px; text-align:left; vertical-align:top; }
.proBoxBgPaddCentre_custom .headerText h4:hover { text-decoration:underline; }
.proBoxBgPaddCentre_custom .img { float:right; width:auto; background: none; padding: 3px; }
.proBoxBgPaddCentre_custom .mText { float:left; padding-bottom:5px; padding-top:5px; width:100%; z-index:-1; }
.proBoxBgPaddCentre_custom .button { float:right; margin-top:-10px; padding-top:5px; text-align:right; width:auto; z-index:3; }
.proBoxBgPaddRight_custom { background-image:url(../images/productBoxRightBG.gif); background-repeat:no-repeat; display:block; float:left; height:145px; width:10px; }



/*************************************************************/
/******* PRODUCT BOXES FOR MONEY/INSURANCE SECTIONS **********/
/*************************************************************/

/* ------------------------------------------------------------ */
/* ------- products box style 1 ------------------------------- */
/* ------------------------------------------------------------ */
.proBoxFirstRow_ins  { width:auto; padding:5px 0 0 1px; display:block; float:left; }
.proBoxSecondRow_ins { width:auto; padding:5px 0 0 1px; display:block; float:left; }
.proBoxThirdRow_ins  { width:auto; padding:5px 0 0 1px; display:block; float:left; }
.proBoxBgPadd_ins    { width:auto; height:170px; padding: 0 3px 0 0; display:block; float:left; }
.proBoxBgPaddLeft_ins { width:10px; height:165px; display:block; float:left;background-color:#f8f8f8;border-top:1px solid #e1e1e1; border-left:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; }
.proBoxBgPaddCentre_ins { width:160px; height:165px; background-color:#f8f8f8; display:block; float:left; border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;}
.proBoxBgPaddCentre_ins p { }
.proBoxBgPaddCentre_ins a{ color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:12px; font-size-adjust:none; font-weight:bold; text-decoration: none;}
.proBoxBgPaddCentre_ins a:hover { text-decoration: underline; color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:12px; font-size-adjust:none; font-weight:bold; }
.proBoxBgPaddCentre_ins a:visited { color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:12px; font-size-adjust:none; font-weight:bold; }
/* header text */
.proBoxBgPaddCentre_ins .headerText {color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; float:left; top: 2px; width:90px;height:55px; color:#134093;}
.proBoxBgPaddCentre_ins .headerText h4 { vertical-align: bottom; text-align: left; }
.proBoxBgPaddCentre_ins .headerText h4 a { color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; float:left; top: 2px; width:90px;height:48px; color:#134093;}
.proBoxBgPaddCentre_ins .headerText h4 a:hover { color:#134093; font-family:Arial,Helvetica,sans-serif; font-size:14px; float:left; top: 2px; width:90px;height:48px; color:#134093;}
`
/* header img */
.proBoxBgPaddCentre_ins .headerImg { font-size: 4pt; float:right; height:30px; width:auto; z-index: 3; padding-top:10px;}
.proBoxBgPaddCentre_ins .headerImg a { z-index: 4; font-size: 4pt; }

/* main text */
.proBoxBgPaddCentre_ins .mainText { float:left; width:150px; top: 4px;height:70px; text-align: left;bottom:0px;}
.proBoxBgPaddCentre_ins .mainText a { font-family:Helvetica,Arial,sans-serif; font-weight: normal; font-size:12px; line-height:1.2em; color: #333333; text-decoration: none;  }
.proBoxBgPaddCentre_ins .mainText a:hover { font-family:Helvetica,Arial,sans-serif; font-weight: normal; font-size:12px; line-height:1.2em; color: #333333; text-decoration: none; }
.proBoxBgPaddCentre_ins .mainText a:visited{ font-family:Helvetica,Arial,sans-serif; font-weight: normal; font-size:12px; line-height:1.2em; color: #333333; text-decoration: none; }

/* quotes button */
.proBoxBgPaddCentre_ins .getQuotes { float:right; width:auto;}
	
.proBoxBgPaddRight_ins { width:10px; height:165px; display:block; float:left;background-color:#f8f8f8;border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; } 
.proBoxBg_ins h4 { font-weight:bold; text-align:left; padding:0px 0px 0px 0px; display:block; }

/* ------------------------------------------------------------ */
/* ------- products box style 2 ------------------------------- */
/* ------------------------------------------------------------ */

.otherProLeft_ins { background-image:url(../images/otherProductsBGLeft.gif); background-repeat:no-repeat; display:block; float:left; height:80px; width:9px; }
.otherProCentre_ins { background-image:url(../images/otherProductsBGCentre.gif); background-repeat:repeat-x; display:block; float:left; height:80px; padding-top:5px; width:auto; }
.otherProCentre_ins a {color: rgb(40, 87, 143); font-weight: bold; font-size: 14px; }
.otherProCentre_ins a:hover {color: rgb(40, 87, 143); font-weight: bold; font-size: 14px; text-decoration:underline; }
.otherProCentre_ins a:visited {color: rgb(40, 87, 143); font-weight: bold; font-size: 14px; }
.otherProCentre_ins .img {padding-right: 4px;}
.otherProRight_ins { background-image:url(../images/otherProductsBGRight.gif); background-repeat:no-repeat; display:block; float:left; height:80px; width:9px; }


/*************************************************************/
/******* LEADBAY CSS (MORTGAGE FORM) *************************/
/*************************************************************/

#LB_FormOneStep{ font-family: Verdana; border: solid 1px #ccc; background: #f5f5f5; font-size: 12px; padding: 0; width: 500px; }
#LB_FormOneStep fieldset{ border: 0; width: 500px; display: block; padding: 0; margin: 0; position: relative; }
.LB_FormStepHidden{	display: none; }
.LB_FormStepVisible{ display: block; }
.LB_OneColumn label{ float:left; width: 260px; margin: 0 20px; }
.LB_OneColumn label.LB_RadioLabel{ float: none; margin: 0; text-align: left; }
.LB_OneColumn .LB_ErrorMessage{ margin-left: 300px; margin-bottom: 5px; }
.LB_ErrorMessage{margin-bottom: 5px; color: #d00; }
.LB_ErrorLabel{ color: #fff; background-color: #f00; margin-bottom: 4px; }

.LB_FormHeadline{ color: #fff; background: #7da0bd; font-weight: bold; padding: 5px 20px; font-size: 18px; clear: both; margin-bottom: 20px; }
.LB_FormHeadline span{ float: right; font-size: 13px; padding-right: 30px; background: transparent url(https://forms.leadbay.co.uk/Common/Images/padlock.gif) no-repeat right; margin-top: 2px; }
.LB_FormHeadline span a{ color: #fff; }
#LB_ContactDetails .LB_FormHeadline{ background: #91c19d; }

#LB_AmountToBorrow, #LB_PropertyValue{ padding-left: 13px; background: #fff url(https://forms.leadbay.co.uk/Common/HtmlIntegration/Images/Sterling.gif) no-repeat 1px; }
.LB_DisplayNone{ display: none; }

.LB_FormRow, .LB_FormCell{ float: left;	display: inline; padding-right: 20px; }
.LB_FormRow{ margin: 0;	padding: 0; }
.LB_FormCell{ margin: 0 0 0 20px; }
.LB_FormCellFixedWidth{	width: 240px; }

#LB_Separator{ width: 460px; padding: 0 20px; }
#LB_Consent{ display: none; margin-right: 20px; padding: 5px; }
#LB_FinishButtonDiv{ padding: 10px 20px 20px 0; float: right; }
#LB_FinishButton{ font-size: 16px; font-weight: bold; background-color: #F87431; color: #fff; padding: 3px 10px; }
#LB_FinishButton.LB_ButtonDisabled{ background-color: #ddd; }

.LB_ToolTip-title{ font-weight:bold !important; }
.LB_ToolTip-tip { background: #ff7;	border: 2px solid black !important;	font-size: 80%;	padding: 3px; text-align: left;	width: 350px; z-index:100; }
.LB_ToolTipIcon { background:transparent url(https://forms.leadbay.co.uk/Mortgages/HtmlIntegration/Images/ToolTipQuestionCircle.gif) no-repeat scroll 0 0; display: inline; }

.urlButSmall a
{
   padding               : 5px 8px 5px 8px;
   margin                : 0 2px;
   display               : block;
   float                 : right;
   cursor                : pointer;
   text-align            : center;
   text-decoration       : none;
   font                  : 12px/100% Arial, Helvetica, sans-serif;
   text-shadow           : 0px -1px -1px #555555;
   -webkit-border-radius : 6px; 
   -moz-border-radius    : 6px;
   border-radius         : 6px;
   -webkit-box-shadow    : 0 1px 1px #999999;
   -moz-box-shadow       : 0 1px 1px #999999;
   box-shadow            : 0 1px 1px #999999;
   color                 : #FFFFFF;
   border                : solid 1px #63c026;
   background            : #58b01e;
   background            : -webkit-gradient(linear, left top, left bottom, from(#74cd3a), to(#409707));
   background            : -moz-linear-gradient(top,  #74cd3a,  #409707);
   filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#74cd3a', endColorstr='#409707');
   font-weight           : bold;
   float                 : right;
}

.urlButSmall a:hover 
{
   color           : #FFFFFF;
   text-decoration : none;
   background      : #6dc633;
   background      : -webkit-gradient(linear, left top, left bottom, from(#9aef63), to(#4baa0c));
   background      : -moz-linear-gradient(top,  #9aef63,  #4baa0c);
   filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9aef63', endColorstr='#4baa0c');
   font-weight     : bold;
}
