/* CSS Document */

/* begin body style - only for html test - delete this */

html, body {
padding:0px;
margin:0px;
}

/* end body style - only for html test - delete this */

.contentintablehelp {
background-color: #F8EBE5;
border: 1px solid #691D1D;
}

.boldTxtStyle {
text-align:center;
font:bold 11px/14px Arial, Helvetica, sans-serif;
color:#454545;
padding:0px;
margin:0px;
}

.bigRedTxt {
font-size:20px;
font-weight:bold;
font-style:italic;
line-height:normal;
color:#990000;
}

.bdRedSmallBoldTxt {
font:bold 12px/12px Arial, Helvetica, sans-serif;
color:#28588F;
padding:3px 6px 3px 6px;
margin:0px;
display:block;
}

.bdBoxMainNormalTxt {
font:normal 12px/12px Arial, Helvetica, sans-serif;
color:#333333;
padding:1px 0px 2px 0px;
margin:0px;
display:block;
}

.bdBoxMainNormalTxtTitle {
font:normal 12px/12px Arial, Helvetica, sans-serif;
color:#999999;
padding:10px 0px 2px 0px;
margin:0px;
display:block;
}

.bdBoxMainNormalTxt2 {
font:normal 12px/12px Arial, Helvetica, sans-serif;
color:#999999;
padding:3px 0px 2px 0px;
margin:0px;
display:block;
}

.bdBoxMainNormalTxt2 a
{
   font:normal 12px/12px Arial, Helvetica, sans-serif;
   color:#0000cc;
}

.bdBoxMainNormalTxt2 a:hover
{
   font:normal 12px/12px Arial, Helvetica, sans-serif;
   color:#3366cc;
}

.bdBoxMainBoldTxt {
font:bold 12px/12px Arial, Helvetica, sans-serif;
color:#333333;
padding:0px 0px 3px 0px;
margin:0px;
display:block;
}

.bdBoxMainBoldRedTxt {
font:bold 12px/12px Arial, Helvetica, sans-serif;
color:#990000;
padding:5px 0px 0px 0px;
margin:0px;
display:block;
}

.bdTxt {
font:normal 12px/12px Arial, Helvetica, sans-serif;
padding:0px;
margin:0px;
}

h3 {
font-size:14px;
line-height:18px;
font-weight:bold;
padding:0px;
margin:0px;
display:block;
}

.pImgStyle {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
line-height:14px;
color:#333333;
background-image:url(../images/bgt_01.gif);
background-repeat:no-repeat;
background-position:left;
padding:8px 0px 6px 28px;
margin:0px;
display:block;
}

.bdInputTxt {
font:normal 12px/12px Arial, Helvetica, sans-serif;
background-image:url(../images/bg_px.gif);
background-position:top center;
background-repeat:no-repeat;
background-color:#FFFFFF;
padding:0px 2px 0px 2px;
margin:0px 0px 0px 0px;
}

.bdInputStyle {
background-image:url(../images/bg_px.gif);
background-position:center right;
background-repeat:no-repeat; 
}

.bdInputStyle input {
min-height:12px;
max-width:12px;
height: 12px; 
width: 12px;
padding:0px 0px 0px 0px;
margin:3px 4px 3px 2px;
}

.bdLastBlueLight {
font:bold 12px/12px Arial, Helvetica, sans-serif;
color:#28588F;
padding:10px 0px 5px 0px;
margin:0px;
}

.bdSelectStyle {
font:normal 8px/10px Arial, Helvetica, sans-serif;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

.bdSelectStyle select {
color: #666666;
font:normal 10px/12px Arial, Helvetica, sans-serif;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

.bdSelectStyle option {
font:normal 10px/12px Arial, Helvetica, sans-serif;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

.frmSelBoxSml 
   {
      color: #666666;
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      line-height: 18px;
      height: 18px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: normal;
      text-align: left;
      vertical-align: middle;
      width: 82px;
      padding:0px 0px 0px 0px;
      margin:0px 0px 0px 0px;
   }

/* FORM HELP BUTTONS */

   .frmHlpLnk a
   {
      color: #000000;
      font: normal 9px Tahoma, sans-serif;
      text-decoration: none;
      height: 16px;
      width: 16px;
      background-image: url(../images/help_02.gif);
      background-repeat: no-repeat;
      background-color:#D9F0FF;
      display: block;
      cursor:help;
      text-align:left;
   }

   .frmHlpLnk a:hover
   {
      color: #006699;
      text-decoration: none;
      height: 16px;
      width: 16px;
      background-image: url(../images/help_02a.gif);
      background-repeat: no-repeat;
      background-color:#D9F0FF;
      display: block;
      cursor:help;
   }

.txtTitle {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
line-height:14px;
font-weight:bold;
color:#366DA5;
background-color:#D9F0FF;
padding-top:2px;
padding-bottom:0px;
}

.txtTitlePrice {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:14px;
font-weight:bold;
color: #990000;
background-color:#D9F0FF;
padding-top:2px;
padding-bottom:0px;
}

 /* FORM HELP TABLE */
   .frmTblHlp
   {
      background-color: #F2F5FA;
      border: 1px solid #008FFF;
   }

   .frmTblHlpHdr
   {
      font: 10px Verdana, Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #26588D;
      border: none;
      text-align: left;
   }

   .frmTblHlpCnts
   {
      font: 10px Verdana, Arial, Helvetica, sans-serif;
      color: #333333;
      border: none;
      text-align: left;
   }

   .frmTblHlpCntsRed
   {
      font: 10px Verdana, Arial, Helvetica, sans-serif;
      color: #333333;
      font-weight: normal;
      border: none;
      text-align: left;
   }


   /* end FORM HELP TABLE */


   /* end FORM HELP BUTTONS */


body 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   margin: 0;
   padding: 0;
   margin-left: 0px;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   background-repeat: repeat-x;
}

.tit 
{
   font-family:Arial, Helvetica, sans-serif;
   font-size:18px;
   font-weight:normal;
   color:#134093;
   padding:6px 10px 6px 0px;
   border-bottom:1px dotted #cbcbcb;
   border-top: 1px solid #e1e1e1;
}

.titAdds
{
   font-family:Arial, Helvetica, sans-serif;
   font-size:18px;
   font-weight:normal;
   color:#134093;
   padding-top:10px;
   padding-left:0px;
   padding-bottom:7px;
   padding-right:10px;
   border-bottom:1px dotted #cbcbcb;
   border-top: 1px solid #e1e1e1;
}

.titCnt
{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:normal;
   color:#333333;
   line-height:140%;
   text-align: justify;
}

.titCntRed
{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:bold;
   color:#990000;
   padding-top:6px;
   padding-left:4px;
   cursor:default;
}

.titFntRed
{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:bold;
   color:#990000;
   padding-top:6px;
   padding-left:4px;
   cursor:default;
   display:block;
}

table
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

.tbl table
{
   background-color: #FFFFFF;
   z-index:-1;
/*    border: 0px solid #FFFFFF; */
    width: 505px; 
}

.tblCnt table
{
   background-color: #FFFFFF;
   z-index:-1;
/*    border: 0px solid #FFFFFF; */
}

.tblCnt td.ErrBor
{
   border-color:#FE0507;
   border-style: dashed;
   border-width: 1px;
   background-color: #FEE8E8;
}

.tblCntErr table
{
   background-color: #FEE8E8;
}

.tblCntErr td
{
   border-width: 0px;
   background-color: #FEE8E8;
}

.tblCntErr td.ErrTxt
{
   text-align:center;
   color:#FE4344;
   border-width: 0px;
   background-color: #FEE8E8;

}

.ErrTxt
{
   color:#FE4344;
   border-width: 0px;
}

.tblCnt td.i
{
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-style: normal;
      line-height: 20px;
      font-weight: normal;
      color: #9d0d0d;
      text-align: center;
      text-indent: 3pt;
      vertical-align: middle;
      cursor:default;
      width:10px;
}

.tblCnt td.if
{
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-style: normal;
      line-height: 20px;
      font-weight: bold;
      color: #9d0d0d;
      text-align: center;
      text-indent: 3pt;
      vertical-align: middle;
      cursor:default;
      width:10px;
}

.tblCnt td.q
{
      font-family   : Arial,Verdana,Geneva,Helvetica,sans-serif;
      font-size     : 12px;
      font-style    : normal;
      font-style    : normal;
      font-weight   : normal;
      line-height   : 20px;
      color         : #2F2F2F;
      text-align    : left;
      text-indent   : 3pt;
      vertical-align: middle;
      cursor        :default;
      width         :38%;
}

.qsmall
{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-style: normal;
      line-height: 20px;
      font-weight: none;
      color: #000000;
      text-align: left;
      text-indent: 3pt;
      vertical-align: middle;
      cursor:default;
      width:100%;
}

.tblCnt td.q1
{
      font-family   : Arial, Helvetica, sans-serif;
      font-size     : 12px;
      font-style    : normal;
      line-height   : 20px;
      font-weight   : normal;
      color         : #2F2F2F;
      text-align    : left;
      vertical-align: middle;
      cursor        :default;
      width         :189px;
}

.fl span
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #366DA5;
   text-align: left;
   text-indent: 3pt;
   cursor:default;
   white-space: nowrap;
}

.fr span
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #366DA5;
   text-align: left;
   text-indent: 3pt;
   cursor:default;
   white-space: nowrap;
}

.q span
{
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 11px;
      font-style: normal;
      line-height: 20px;
      font-weight: normal;
      color:#366DA5;
      text-align: left;
      vertical-align: middle;
      cursor:default;
      padding:0;
/*       width:100%; */
}

.tblCnt td.fl1
{
   text-align:left;
   color: #000000;
   z-index:-1;

}

.selSize
{
   width:119px;
   z-index:-1;
}

.inputSize
{
   width:117px;
   z-index:-1;
}
.selectBig
{
   width:215px;
}

.inputBig
{
   width:210px;
}

.tblCnt td.fl2
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   width:50%;
   text-align:left;
   vertical-align:top;
   color: #000000;
   vertical-align:top;
   white-space: nowrap;

}

.tblCnt td.fl3
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   width:40%;
   text-align:left;
   vertical-align:top;
   color: #000000;
   vertical-align:top;
   white-space: nowrap;

}

.tblCnt td.fr2
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   width:70%;
   text-align:right;
   vertical-align:top;
   color: #000000;
   vertical-align:top;
   white-space: nowrap;
}

.tblCnt td.fr
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   width:45%;
   vertical-align:top;
   color: #000000;
   vertical-align:top;
   white-space: nowrap;
}

.f input
{
      color: #666666;
      background: #FFFFFF;
      border: 1px inset #CCCCCC;
      line-height: 12px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: normal;
      text-align: left;
      vertical-align: middle;
      margin:2px;
/*       padding:2px; */
}

.f select
{
      color: #666666;
      background: #FFFFFF;
      border: 1px inset #CCCCCC;
      line-height: 12px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: normal;
      text-align: left;
      vertical-align: middle;
      margin:2px;
/*       padding:2px; */
/*       background-color:#ff0000; */
}

.tbl td.h
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 10px;
   width:100px;
   text-align:left;
   color:#0000FF;
}

input
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

th 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

form 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
}


textarea 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

select 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

ul 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   list-style-type: disc;
   list-style-position: outside;
}

li 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

ol 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   list-style-type: upper-roman;
   list-style-position: outside;
}

.loading
{
   margin-top: 15px;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 9px;
   color : #FFFFFF;
}

.small 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 9px;
}

.big {
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 18px;
}

.bodystyle 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

.box1 
{
   padding: 3px;
   border-width: thin;
   border-style: solid;
   border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 
{
   border-width: 3px;
   border-style: solid;
   padding: 5px;
}


.footlnk {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#555555;
}

.footlnk a {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#555555;
}

.footlnk a:hover {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#990000;
}


.footlnktxt {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#366DA5;
}

.footlnktxt a {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#366DA5;
}

.footlnktxt a:hover {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#990000;
}

.txtsb {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#366DA5;
}

.tblQts table
{
   background-color: #FFFFFF;
/*    border:1px solid #FFFFFF; */
}


.tblQts td.hb
{
   background-color: #D9F0FF;
}

.tblQts td.h
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #366DA5;
   background-color: #D9F0FF;
   text-align: center;
   padding-left:1px;
   padding-right:1px;
   vertical-align: middle;
   cursor:default;
   vertical-align:top;
   width:80px;
   border-left:1px solid #cccccc
}


.tblQts td.hi
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #366DA5;
   background-color: #D9F0FF;
   text-align: center;
   padding-left:1px;
   padding-right:1px;
   cursor:default;
   vertical-align:top;
   width:120px;
   border-left:1px solid #cccccc
}

.tblQts td.hh
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color:#990000;
   background-color: #D9F0FF;
   text-align: center;
   padding-left:1px;
   padding-right:1px;
   cursor:default;
   vertical-align:top;
   width:80px;
   border-left:1px solid #cccccc
}

.tblQts td.hl
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #366DA5;
   background-color: #D9F0FF;
   text-align: center;
   padding-left:1px;
   padding-right:1px;
   vertical-align: middle;
   cursor:default;
   vertical-align:top;
   width:74px;
   border-left:1px solid #cccccc;
   border-right:1px solid #cccccc;
}

.tblQts td.c
{
   text-align: center;
   background-color: #FFFFFF;
   border-left:1px solid #cccccc;
   width:80px;
   padding-top:4px;
   padding-bottom:4px;
   font-size: 10px;

}

.tblQts td.cpr
{
   text-align: center;
   background-color: #FFFFFF;
   border-left:1px solid #cccccc;
   width:80px;
   padding-top:4px;
   padding-bottom:4px;
   font-size: 12px;

}


.tblQts td.cp
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color:#990000;
   background-color: #F5F5F5;
   text-align: center;
   padding-left:1px;
   padding-right:1px;
   vertical-align: middle;
   cursor:default;
   width:80px;
   border-left:1px solid #cccccc
}

.tblQts td.cl
{
   text-align: center;
   background-color: #FFFFFF;
   border-left:1px solid #cccccc;
   border-right:1px solid #cccccc;
   width:74px;
   padding-top:4px;
   padding-bottom:4px;
}

.tblQts td.bc
{
   text-align: center;
   background-color: #FFFFFF;
   border-left:1px solid #cccccc;
   border-top:2px solid #cccccc;
   border-bottom:0px solid #FFFFFF;
   width:80px;
   padding-top:4px;
   padding-bottom:4px;
   font-size: 10px;
}

.tblQts td.bcpr
{
   text-align: center;
   background-color: #FFFFFF;
   border-left:1px solid #cccccc;
   border-top:2px solid #cccccc;
   border-bottom:0px solid #FFFFFF;
   width:80px;
   padding-top:4px;
   padding-bottom:4px;
   font-size: 10px;
}
.tblQts td.bco
{
   text-align: left;
   background-color: #F5F5F5;
   border-left:1px solid #cccccc;
   border-top:1px solid #cccccc;
   border-bottom:0px solid #FFFFFF;
   width:80px;
   padding-top:4px;
   padding-left:2px;
   padding-bottom:4px;
   font-size: 10px;
}


.tblQts td.bcp
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color:#990000;
   background-color: #F5F5F5;
   text-align: center;
   padding-left:1px;
   padding-right:1px;
   vertical-align: middle;
   cursor:default;
   width:80px;
   border-left:1px solid #cccccc;
   border-top:2px solid #cccccc;
}

.tblQts td.bcl
{
   text-align: center;
   background-color: #FFFFFF;
   border-left:1px solid #cccccc;
   border-right:1px solid #cccccc;
   border-top:2px solid #cccccc;
   width:74px;
   padding-top:4px;
   padding-bottom:4px;
}


.tblQts td.bd
{
   background-color: #FFFFFF;
   border-top:1px solid #cccccc;
   padding-top:4px;
   padding-bottom:4px;
}

.tblQts td.bdl
{
   background-color: #FFFFFF;
   border-left:1px solid #cccccc;
   border-top:1px solid #cccccc;
}

.tblQts td.bdr
{
   background-color: #FFFFFF;
   border-right:1px solid #cccccc;
   border-top:1px solid #cccccc;
}

.tblQts td.bbd
{
   text-align: center;
   background-color: #FFFFFF;
   border-top:1px solid #cccccc;
   border-left:1px solid #cccccc;
   border-right:1px solid #cccccc;
   border-bottom:1px solid #cccccc;
/*    width:80px; */
   padding-top:4px;
   padding-bottom:4px;
}

.tblQts td.b
{
   background-color: #FFFFFF;
   border:0px;
   border-left:1px solid #CCCCCC;
   line-height: 0px;
   font-size:0px;
}

.tblQts td.bb
{
   background-color: #FFFFFF;
   border:0px;
   line-height: 0px;
   font-size:0px;
   width:80px;
}

.tblQts td.bi
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 0px;
   line-height: 0px;
   font-style: normal;
   color:#990000;
   background-color: #F5F5F5;
   text-align: center;
   text-align: center;
   cursor:default;
   vertical-align:bottom;
   width:110px;
}

.tblQts td.bl
{
   background-color: #FFFFFF;
   border-left:1px solid #cccccc;
   line-height: 0px;
   font-size:0px;
   text-align: center;
   width:75px;
}

.tblQts td.bbl
{
   background-color: #FFFFFF;
   border:0px;
   line-height: 0px;
   font-size:0px;
   text-align: center;
   width:75px;
}

.tblQts td.p
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-style: normal; 
line-height: 20px; 
font-weight: normal; 
color: #333333;
background-color: #FFFFFF;
text-align: left; 
padding-left:5px; 
vertical-align: middle; 
cursor:default;
vertical-align:top;
}

.tblQteAplPrm
{
   background-color: #FFFFFF;
   border:1px solid #FFFFFF;
}

.tblQteAplPrm td
{
   background-color: #FFFFFF;
   border: 1px solid #FFFFFF;
}

.tblQteAplPrm td.PrmDes
{
   font-family:  Arial;
   font-size: 12px;
   color: #28578F;
   text-decoration: none;
   font-weight: bold;
   border: 1px solid #FFFFFF;
}

.tblQteAplPrm td.PrmVal
{
   font-family:  Arial;
   font-size: 11px;
   color: #000000;
   text-decoration: none;
   font-weight: normal;
   font-style: normal;
   border: 1px solid #FFFFFF;
}

   /*   BUY ONLINE   */
   .tblQteBuyOnl
   {
      background-color: #E9F0F6;
   }

   .tblQteBuyOnl td
   {
      background-color: #E9F0F6;
      border: 1px solid #cccccc;
   }

   .tblQteBuyOnlCnts
   {
      background-color: #E9F0F6;
      border: 0px;
   }

   .tblQteBuyOnlCnts td
   {
      background-color: #E9F0F6;
      border: 0px;
      padding:6px;
      margin:6px;
   }

   .tblQteBuyOnlCnts td.Ttl
   {
      font-family:  Arial;
      font-size: 12px;
      color: #28578F;
      text-decoration: none;
      font-weight: bold;
      border: 0px;
   }

   .tblQteBuyOnlCnts td.Top
   {
      font : Arial, Helvetica, sans-serif;
      font-family:  Arial;
      font-size: 12px;
      color: #000000;
      text-decoration: none;
      font-weight: normal;
      border: 0px;
   }
   
   .tblQteBuyOnlCnts td.Btm
   {
      font : Arial, Helvetica, sans-serif;
      font-family:  Arial;
      font-size: 12px;
      color: #000000;
      text-decoration: none;
      font-weight: normal;
      border: 0px;
   }

   .tblQteBuyOnlCntsInf
   {
      background-color: #FFFFFF;
      border: 1px solid #000000;
      padding: 0px;
      margin:0px;
   }

   .tblQteBuyOnlCntsInf td
   {
      background-color: #FFFFFF;
      border: 0px;
      padding: 0px;
      margin: 0px;
   }

   .tblQteBuyOnlCntsInf td.InfKey
   {
      font : Arial, Helvetica, sans-serif;
      font-family:  Arial;
      font-size: 12px;
      color: #000000;
      text-decoration: none;
      text-align: right;
      font-weight: bold;
      border: 0px;
      background-color: #FFFFFF;
   }

   .tblQteBuyOnlCntsInf td.InfVal
   {
      font : Arial, Helvetica, sans-serif;
      font-family:  Arial;
      font-size: 12px;
      color: #FF0000;
      text-decoration: none;
      text-align: left;
      font-weight: bold;
      border: 0px;
      background-color: #FFFFFF;
   }

   .tblQteBuyOnlCnts a
   {
      font-family: Verdana;
      font-size: 12px;
      font-style: normal;
      font-weight: bolder;
      color: #990000;
      text-decoration: none;
   }

   .tblQteBuyOnlCnts a:hover
   {
      font-family: Verdana;
      font-size: 12px;
      font-style: normal;
      font-weight: bolder;
      color: #990000;
      text-decoration: none;
   }


   .tblQteBuyOnlCntsInf a.Btn
   {
      color: #000000;
      font: normal 9px Tahoma, sans-serif;
      text-decoration: none;
      height: 22px;
      width: 90px;
      background-image: url(../images/procced-red.gif);
      background-repeat: no-repeat;
      display: block;
      border: 0px;
   }

   .tblQteBuyOnlCntsInf a.Btn:hover
   {
      color: #006699;
      text-decoration: none;
      height: 22px;
      width: 90px;
      background-image: url(../images/procced-green.gif);
      background-repeat: no-repeat;
      display: block;
      border: 0px;
   }

   .tblQteBuyOnlCnts td.Lnk
   {
      font-family: Verdana;
      font-size: 12px;
      font-style: normal;
      font-weight: bolder;
      color: #990000;
      text-decoration: none;
      cursor : pointer;
   }

   .tblQteBuyOnlCnts td.Def
   {
      font-family: Verdana;
      font-size: 12px;
      font-style: normal;
      font-weight: bolder;
      color: #000000;
      text-decoration: none;
      cursor : default;
   }

    .frmAssTxt
    {
       font-family: Arial;
       font-size: 11px;
       font-weight: normal;
       color: #0000FF;
       text-decoration: underline;
       cursor:pointer;
    }

.tblOvr table
{
   background-color: #FFFFFF;
/*    border:1px solid #cccccc */
}

.tblOvr td.t
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #366DA5;
   background-color: #FFFFFF;
   text-align: left;
   padding-left:5px;
   padding-top:5px;
   vertical-align: middle;
   cursor:default;
   vertical-align:top;
}

.t a
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #333333;
   background-color: #FFFFFF;
   text-decoration:none;
   text-align: left;
   vertical-align: middle;
   vertical-align:top;
   cursor:pointer;
}

.t a:hover
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #333333;
   background-color: #FFFFFF;
   text-decoration:none;
   text-align: left;
   vertical-align: middle;
   vertical-align:top;
   cursor:pointer;

}

.tblOvr td.h
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #366DA5;
   background-color: #FFFFFF;
   text-align: left;
   padding-left:5px;
   padding-bottom:5px;
   vertical-align: middle;
   cursor:default;
   vertical-align:top;
}

.tblOvr td.c
{
   font-family     : Arial, Helvetica, sans-serif;
   font-size       : 24px;
   font-style      : normal;
   line-height     : 20px;
   font-weight     : bold;
   color           : #ed1c24;
   background-color: #FFFFFF;
   text-align      : left;
   padding-top     : 25px;
   padding-left    : 29px;
   vertical-align  : middle;
   cursor          :default;
   vertical-align  :top;
}

.tblOvr td.cAds
{
   font-family     : Arial, Helvetica, sans-serif;
   font-size       : 12px;
   font-style      : normal;
   line-height     : 20px;
   font-weight     : bold;
   color           : #333333;
   background-color: #FFFFFF;
   text-align      : left;
   padding-left    : 5px;
   vertical-align  : middle;
   cursor          : default;
   vertical-align  : top;
}

.tblOvr td.cText
{
   font-family     : Arial, Helvetica, sans-serif;
   font-size       : 12px;
   font-style      : normal;
   line-height     : 20px;
   font-weight     : normal;
   color           : #000000;
   background-color: #FFFFFF;
   text-align      : left;
   padding-left    : 29px;
   padding-top     : 10px;
   padding-bottom  : 0px;
   vertical-align  : middle;
   cursor          : default;
   vertical-align  : top;
}

.h a
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #3071b1;
   background-color: #FFFFFF;
   text-decoration:none;
   text-align: left;
   vertical-align: middle;
   vertical-align:top;
   cursor:pointer;
}

.h a:hover
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #3071b1;
   background-color: #FFFFFF;
   text-decoration:none;
   text-align: left;
   vertical-align: middle;
   vertical-align:top;
   cursor:pointer;
}

.help
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #9d0d0d;
   background-color: #FFFFFF;
   text-decoration:none;
   text-align: left;
   vertical-align:top;
   cursor:pointer;
   width:200px;
   height:100px;
   margin:0px;
   border:0px;
   display:none;
}



.tblSrcQts table
{
   background-color: #FFFFFF;
/*    border:1px solid #cccccc */
}

.tblSrcQts td.t
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #366DA5;
   background-color: #FFFFFF;
   text-align: left;
   padding-left:5px;
   padding-top:5px;
   vertical-align: middle;
   cursor:default;
   vertical-align:top;
}

.tblSrcQts td.h
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: 20px;
   font-weight: bold;
   color: #366DA5;
   background-color: #FFFFFF;
   text-align: left;
   padding-left:5px;
   padding-bottom:5px;
   vertical-align: middle;
   cursor:default;
   vertical-align:top;
}

.tblSrcQts td.c
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: 20px;
   font-weight: normal;
   color: #333333;
   background-color: #FFFFFF;
   text-align: left;
   padding-left:20px;
   padding-top:10px;
   padding-bottom:10px;
   vertical-align: middle;
   cursor:default;
   vertical-align:top;
}


.frmNxtLnk a 
   {
      color: #000000;
      font: normal 9px Tahoma, sans-serif;
      text-decoration: none;
      height: 24px;
      width: 95px;
      background-image: url(../images/next_01.gif);
      background-repeat: no-repeat;
      display: block;
   }
.frmNxtLnk a:hover 
   {
      color: #006699;
      text-decoration: none;
      height: 24px;
      width: 95px;
      background-image: url(../images/next_02.gif);
      background-repeat: no-repeat;
      display: block;
   }

.frmGetQuotesLnk a 
   {
      color: #000000;
      font: normal 9px Tahoma, sans-serif;
      text-decoration: none;
      height: 31px;
      width: 94px;
      background-image: url(../images/bd_get_quotes_out.gif);
      background-repeat: no-repeat;
      display: block;
   }

.frmGetQuotesLnk a:hover 
   {
      color: #006699;
      text-decoration: none;
      height: 31px;
      width: 94px;
      background-image: url(../images/bd_get_quotes_over.gif);
      background-repeat: no-repeat;
      display: block;
   }

.frmUpdateLnk a 
   {
      color: #000000;
      font: normal 9px Tahoma, sans-serif;
      text-decoration: none;
      height: 31px;
      width: 110px;
      background-image: url(../images/bd_update_price_out.gif);
      background-repeat: no-repeat;
      display: block;
   }

.frmUpdateLnk a:hover 
   {
      color: #006699;
      text-decoration: none;
      height: 31px;
      width: 110px;
      background-image: url(../images/bd_update_price_over.gif);
      background-repeat: no-repeat;
      display: block;
   }

.frmAmendDetails a
{
      color: #006699;
      text-decoration: none;
      height: 29px;
      width: 128px;
      background-image: url(../images/amend_details_01.gif);
      background-repeat: no-repeat;
      display: block;
}

 .frmBckLnk a 
   {
      color: #000000;
      font: normal 9px Tahoma, sans-serif;
      text-decoration: none;
      height: 24px;
      width: 95px;
      background-image: url(../images/back_01.gif);
      background-repeat: no-repeat;
      display: block;
   }

   .frmBckLnk a:hover 
   {
      color: #006699;
      text-decoration: none;
      height: 24px;
      width: 95px;
      background-image: url(../images/back_02.gif);
      background-repeat: no-repeat;
      display: block;
   }

.bodyTraffic {
font:normal 12px/12px Arial, Helvetica, sans-serif;
padding:0px;
margin:0px auto;
}

.lastBigBlue {
font:bold 18px/20px Arial, Helvetica, sans-serif;
color:#28588F;
}

.lastBigRed {
font:bold 14px/14px Arial, Helvetica, sans-serif;
color:#9A0E0F;
}

.lastTxtItalic {
font:bold 12px/12px Arial, Helvetica, sans-serif;
color:#444444;
}

.lastRedLight {
font-weight:bold;
color:#9A0E0F;
}

.lastOrangeLight {
font-weight:bold;
color:#E78D1B;
}

.lastGreenLight {
font-weight:bold;
color:#628F3C;
}

.lastBlueLight {
font:bold 12px/12px Arial, Helvetica, sans-serif;
color:#28588F;
padding:0px 0px 0px 0px;
}


.smallFont {
font:normal 11px/12px Arial, Helvetica, sans-serif;
}

.qzBoxLogo {
background-image:url(../images/box_logo.gif);
background-repeat:no-repeat;
}

.qzBoxBigBlue {
font:bold 24px/24px Arial, Helvetica, sans-serif;
color:#28588F;
}



input.smallcheck { 
height: 12px; 
width: 12px; 

}

.bd_lhlepc {
background-image:url(../images/bg_px.gif);
background-position:top left;
background-repeat:no-repeat;
}


.nbdTxtPadd {
padding:0px 6px 0px 6px;
}

.nbdTxt {
font:normal 12px/14px Arial, Helvetica, sans-serif;
padding:0px;
margin:0px;
}

.nbdTxtBlueBold {
font:bold 12px/16px Arial, Helvetica, sans-serif;
color:#28588F;
padding:0px;
margin:0px;
}


.nbdTxtBlueBold2 {
font:bold 22px/22px Arial, Helvetica, sans-serif;
color:#ED1C24;
padding:0px;
margin:0px;
}


.nbdTxtRedBold {
font:bold 12px/16px Arial, Helvetica, sans-serif;
color:#990000;
padding:0px;
margin:0px;
}

/* FORM FIND ADDRESS */
.frmTblFndAdd a 
{
   color: #000000;
   font: normal 9px Tahoma, sans-serif;
   text-decoration: none;
   height: 24px;
   width: 100px;
   background-image: url(../images/find_address_01.gif);
   background-repeat: no-repeat;
   display: block;
   
}

.frmTblFndAdd a:hover 
{
   color: #006699;
   text-decoration: none;
   height: 24px;
   width: 100px;
   background-image: url(../images/find_address_02.gif);
   background-repeat: no-repeat;
    display: block; 
}

.frmHouseNumSelBoxFake
{
   color: #666666;
   background: #FFFFFF;
   border: 1px solid #CCCCCC;/*#7F9DB9*/
   line-height: 18px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: normal;
   text-align: left;
   vertical-align: middle;
   width: 403px;
}

.frmHouseNumSelBox
{
   color: #666666;
   background: #FFFFFF;
   border: 1px solid #CCCCCC;/*#7F9DB9*/
   line-height: 18px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: normal;
   text-align: left;
   vertical-align: middle;
   width: 402px;
}

.clickToBuy a 
{
   height: 35px;
   width: 130px;
   background-image: url(../images/click_for_online_quote_01a.gif);
   background-repeat: no-repeat;
   display: block;

}

.clickToBuy a:hover
{
   background-image: url(../images/click_for_online_quote_02a.gif);
}

.nextLnk 
{
   background-image: none;
   background: url(../images/bd_get_quotes.gif) no-repeat scroll left top;
   display:block;
   height:31px;
   width:100px;
   border:0px;
   font-size:0px;
   line-height:0px;
   cursor:pointer;
   padding:0px 56px 0px 0px;
}

.nextLnk:hover {
   background-position:left bottom;

}

.findAddress
{
   background-image: none;
   background: url(../images/find_address.gif) no-repeat scroll right bottom;
   display:block;
   height: 24px;
   width: 100px;
   border:0px;
   font-size:0px;
   line-height:0px;
   cursor:pointer;
}

.findAddress:hover {
   background-position:right top;

}

.footerBoxLeft {
   background-image:url(../images/foot_left.gif);
   background-repeat:no-repeat;
   display:block;
   float:left;
   height:40px;
   width:8px;
}

.footerBoxCenter {
   background-image:url(../images/foot_center.gif);
   background-repeat:repeat-x;
   display:block;
   float:left;
   height:40px;
   width:761px;
}

.footerLinks {
   float:left;
   text-align:left;
}

.footerLinks ul {
   float:left;
   list-style-type:none;
   margin-top:3px;
   text-align:left;
   font-family:Arial,Helvetica,sans-serif;
   font-size:12px;
   font-size-adjust:none;
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   line-height:14px;
}

.footerCopyright{
   float: right;
   text-align: right; 
   margin-top: 5px;
}

.footerCopyright p {
   float: right;
   color:#366DA5;
   font-family:Arial,Helvetica,sans-serif;
   font-size:10px;
   font-weight:normal;
   padding-top: 6px;  
}

.footerCopyright img {
   float: right;
   padding-top: 2px;
   padding-left: 3px;
}

.footerBoxRight {
   background-image:url(../images/foot_right.gif);
   background-repeat:no-repeat;
   display:block;
   float:left;
   height:40px;
   width:8px;
}

.footerLinks ul li {
   color:#333333;
   float:left;
   font-family:Arial,Helvetica,sans-serif;
   font-size:11px;
   font-size-adjust:none;
   font-stretch:normal;
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   line-height:14px;
   padding:10px 0px 6px 12px;
}

.footerLinks ul li a {
   color:#676767;
   float:left;
   font-family:Arial,Helvetica,sans-serif;
   text-decoration: none;
   font-size:11px;
   font-size-adjust:none;
   font-stretch:normal;
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   line-height:14px;
}

.footerLinks ul li a:hover {
   color:#9E0F10;
   float:left;
   font-family:Arial,Helvetica,sans-serif;
   text-decoration: underline;
   font-size:11px;
   font-size-adjust:none;
   font-stretch:normal;
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   line-height:14px;
}

/* end FORM FIND ADDRESS */


.nhClaimTitle {
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:bold;
   line-height:normal;
   color:#28578D;
   background-color:#C2DDEE;
   background-image:url(../images/nht_px.gif);
   //padding:4px 0px 4px 10px;
   //margin:0px;
   //border:0px;
   border-top:1px solid #C8DBEC;
   border-bottom:1px solid #C8DBEC;
   //display:block;
}

.qzDots {
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
line-height:11px;
background-image:url(../images/caravan_dots_01.gif);
background-repeat:no-repeat;
background-position:left;
padding:8px 0px 6px 28px;
margin:0px;
display:block;

}

.qzNoDots {
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
line-height:10px;
background-repeat:no-repeat;
background-position:left;
padding:8px 0px 6px 28px;
margin:0px;
display:block;

}

.cssTTSize
{
        width: 210px;
}
.cssTTSizeSelect
{
        width: 215px;
}


.oneLineBorderBottom
{
   border-bottom:1px solid #cccccc;
}

.oneLineBorderBottomHeader
{
   border-bottom:1px solid #e3e3e3;
}

.lnkSysText
{
   font:bold 14px/14px Arial, Helvetica, sans-serif;
   color:#333333;
   padding-right:25px;
}

.smallSysLinkBox
{
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   border:1px solid #b8d2e8;
   padding:10px;
   text-align:left;
   background:#f3f8fc
}

.mainTblCornerTopLeft
{
   border-left:1px solid #e1e1e1;
   border-top:1px solid #e1e1e1;
}

.mainTblCornerTopRight
{
   border-right:1px solid #e1e1e1;
   border-top:1px solid #e1e1e1;
}

.mainTblBorderLeft
{
   border-left:1px solid #e1e1e1;
}

.mainTblBorderRight
{
   border-right:1px solid #e1e1e1;
}

.mainTblCornerBottomLeft
{
   border-left:1px solid #e1e1e1;
   border-bottom:1px solid #e1e1e1;
}

.mainTblCornerBottomRight
{
   border-right:1px solid #e1e1e1;
   border-bottom:1px solid #e1e1e1;
}

.mainTblBottomCenterBorder
{
   border-bottom:1px solid #e1e1e1;
}

.mainTblTopCenterBorder
{
   border-top:1px solid #e1e1e1;
}

.nxtBtn 
{
   padding               : 5px 5px 5px 8px;
   margin                : 0 2px;
   display               : block;
   float                 : right;
   cursor                : pointer;
   text-align            : center;
   text-decoration       : none;
   font                  : 20px/26px Arial, Helvetica, sans-serif;
   text-shadow           : 0px -1px -1px #555555;
   -webkit-border-radius : 6px; 
   -moz-border-radius    : 6px;
   border-radius         : 6px;
   -webkit-box-shadow    : 0 1px 1px #999999;
   -moz-box-shadow       : 0 1px 1px #999999;
   box-shadow            : 0 1px 1px #999999;
   color                 : #FFFFFF;
   border                : solid 1px #63c026;
   background            : #58b01e;
   background            : -webkit-gradient(linear, left top, left bottom, from(#74cd3a), to(#409707));
   background            : -moz-linear-gradient(top,  #74cd3a,  #409707);
   filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#74cd3a', endColorstr='#409707');
   font-weight           : bold;
}

.nxtBtn:hover 
{
   text-decoration       : none;
   background            : #6dc633;
   background            : -webkit-gradient(linear, left top, left bottom, from(#9aef63), to(#4baa0c));
   background            : -moz-linear-gradient(top,  #9aef63,  #4baa0c);
   filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9aef63', endColorstr='#4baa0c');
}

.nxtBtn span 
{
   background-image      : url(../images/r-arrow.png);
   background-repeat     : no-repeat;
   background-position   : bottom right;
   padding-right         : 25px;
}

.qstHlp
{
   padding        : 7px 5px 0px 10px;
   margin         : 0px;
   display        : block;
   float          : left;
}

.qstHlp a 
{
   padding               : 2px 3px 1px 4px;
   display               : inline-block;
   zoom                  : 1;
   vertical-align        : baseline;
   margin                : 0 2px;
   outline               : none;
   cursor                : help;
   text-align            : center;
   text-decoration       : none;
   font                  : 12px/100% Arial, Helvetica, sans-serif;
   -webkit-border-radius : .6em; 
   -moz-border-radius    : .6em;
   border-radius         : .6em;
   color                 : #76adca;
   border                : solid 1px #76adca;
   background            : #e6f2f8;
   background            : -webkit-gradient(linear, left top, left bottom, from(#e6f2f8), to(#e6f2f8));
   background            : -moz-linear-gradient(top,  #e6f2f8,  #e6f2f8);
   filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6f2f8', endColorstr='#e6f2f8');
   font-weight           : bold;
}

.qstHlp a:hover 
{
   text-decoration : none;
   background      : #adcedf;
   background      : -webkit-gradient(linear, left top, left bottom, from(#adcedf), to(#adcedf));
   background      : -moz-linear-gradient(top,  #adcedf,  #adcedf);
   filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#adcedf', endColorstr='#adcedf');
}

.pstcdFnd
{
   float:left;
}

.pstcdFnd a
{
   background-color: #DDDDDD;
   background      : -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC));
   background      : -moz-linear-gradient(top,  #EEEEEE,  #CCCCCC);
   filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
   border          : 1px solid #777777;
   border-radius   : 0.2em 0.2em 0.2em 0.2em;
   box-shadow      : 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
   color           : #333333;
   display         : inline-block;
   font            : bold 1.3em/2em Arial,Helvetica;
   padding         : 0 1.5em;
   text-decoration : none;
   text-shadow     : 0 1px 0 rgba(255, 255, 255, 0.8);
   white-space     : nowrap;
   font            : bold 13px/14px Arial,Helvetica;
   padding         : 5px 20px 5px 20px;
   text-decoration: none;
}

.pstcdFnd a:hover
{
   background-color: #EEEEEE;
   background : -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#DDDDDD));
   background : -moz-linear-gradient(top,  #FAFAFA,  #DDDDDD);
   filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DDDDDD');
}

.pstcdFnd a:active {
   box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
   position: relative;
   top: 1px;
}

.pstcdFnd a:focus 
{
   background: none repeat scroll 0 0 #FAFAFA;
   outline: 0 none;
}

.lastPageTopButtons a.buttonlink, .lastPageTopButtons a.buttonlink:visited{
    background: none repeat scroll 0 0 #6e6e6e;
    border-radius: 0.1em 0.1em 0.1em 0.1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font: bold 12px/100% Arial,Helvetica,sans-serif;
    margin: 0 2px;
    outline: medium none;
    padding: 10px 5px 10px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
    width:65px;
}
.lastPageTopButtons a.buttonlink:hover{
   background: none repeat scroll 0 0 #404040;
   font-weight: bold;
   text-decoration: none;
}
.lastPageTopButtons a.buttonlink:active{
   background: none repeat scroll 0 0 #6e6e6e;
   color: #FFFFFF;
   font-weight: bold;
   position: relative;
   top: 1px;
}


.urlButSmall a
{
   padding               : 5px 8px 5px 8px;
   margin                : 0 2px;
   display               : block;
   float                 : right;
   cursor                : pointer;
   text-align            : center;
   text-decoration       : none;
   font                  : 12px/100% Arial, Helvetica, sans-serif;
   text-shadow           : 0px -1px -1px #555555;
   -webkit-border-radius : 6px; 
   -moz-border-radius    : 6px;
   border-radius         : 6px;
   -webkit-box-shadow    : 0 1px 1px #999999;
   -moz-box-shadow       : 0 1px 1px #999999;
   box-shadow            : 0 1px 1px #999999;
   color                 : #FFFFFF;
   border                : solid 1px #63c026;
   background            : #58b01e;
   background            : -webkit-gradient(linear, left top, left bottom, from(#74cd3a), to(#409707));
   background            : -moz-linear-gradient(top,  #74cd3a,  #409707);
   filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#74cd3a', endColorstr='#409707');
   font-weight           : bold;
   float                 : right;
}

.urlButSmall a:hover 
{
   color           : #FFFFFF;
   text-decoration : none;
   background      : #6dc633;
   background      : -webkit-gradient(linear, left top, left bottom, from(#9aef63), to(#4baa0c));
   background      : -moz-linear-gradient(top,  #9aef63,  #4baa0c);
   filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9aef63', endColorstr='#4baa0c');
   font-weight     : bold;
}

.dottedBorder
{
   border-bottom:1px dotted #cbcbcb;
}